@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><i class="fa-solid fa-code"></i> Bem vindo(a)!</h1>
    <p>Gerencie seus <a asp-controller="Alunos" asp-action="Index">alunos</a>.</p>
</div>
