@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Esta aplicação foi desenvolvida com intuito de praticar os conhecimentos de ASP.NET CORE MVC, portanto não utilize dados reais.</p>
